:root {
  --orange: #fe9605;
  --aqua: #44fdd2;
}

#floorDisplay {
  border: 20px solid #d1e3ed;
  width: 200px;
  height: 200px;
  background: #313237;
  position: relative;
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  text-shadow: var(--orange) 0 0 13px;
  font-family: monospace;
}

#floorDisplay.moving {
  animation: moving 1s linear infinite;
}

#floorDisplay.arrived {
  border-bottom-color: var(--orange);
}

#floorDisplay:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 130%;
  box-shadow: var(--aqua) 2px 2px 10px 0;
}

#floorDisplay.down:before {
  border: var(--aqua) solid 50px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

#floorDisplay.up:before {
  border: var(--aqua) solid 50px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(-135deg);
}

body {
  background-color: #546f7a;
}

#callUp,
#callDown,
#selectFloor {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  background-color: #327dda;
  box-shadow: inset #353535 0 0 9px 5px;
  margin: 10px;
  font-size: 4rem;
  font-family: monospace;
}

#selectFloor {
  background-color: wheat;
}

#currentQueue {
  position: absolute;
  left: 70%;
  width: 30%;
  height: 100%;
  font-size: 2.5rem;
  text-align: center;
  color: #deff2b;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: #b3b522 0 0 8px;
}

#floorSelector {
  width: 650px;
  height: 60px;
  font-size: 3rem;
  text-align: center;
  border: 10px solid #060606;
}

@keyframes moving {
  25% {
    border-top-color: var(--aqua);
  }
  50% {
    border-right-color: var(--aqua);
  }
  75% {
    border-bottom-color: var(--aqua);
  }
  100% {
    border-left-color: var(--aqua);
  }
}
